# Exercise: Create a dataframe of at least 1000 rows about an hypothetical list of employees of your company, extract all employees in the IT department and a Salary greater than 55000.

In [2]:
import pandas as pd
import random
import string
from faker import Faker

inizializzo faker e uso l'italiano per generare nomi e cognomi italiani

In [3]:
fake = Faker('it_IT')

creo un dataframe con 1000 dipendenti

In [5]:
n = 1000
reparti = ['IT' , 'Vendite', 'Amministrazione', 'Marketing', 'HR']
stipendi_min = 1500
stipendi_max = 12000

Genero dati per il DataFrame

In [6]:
data = {
    'ID' : [i for i in range(n)],
    'Name': [fake.first_name() for _ in range(n)],
    'Surname': [fake.last_name() for _ in range(n)],
    'Reparto' : [random.choice(reparti) for _ in range (n)],
    'Stipendio': [random.randint(stipendi_min, stipendi_max) for _ in range(n)]
}
df = pd.DataFrame(data)

In [7]:
df

      ID      Name      Surname    Reparto  Stipendio
0      0     Marco    Bondumier  Marketing       2830
1      1    Angelo    Staglieno    Vendite       6800
2      2  Concetta      Cavanna         HR      11391
3      3    Romolo      Polizzi         HR       1895
4      4  Marcello      Bonolis         HR       7884
..   ...       ...          ...        ...        ...
995  995   Corrado  Pininfarina  Marketing       9370
996  996   Massimo    Staglieno         HR       9066
997  997     Paola        Regge  Marketing      11003
998  998  Vincenza     Parpinel         IT       3016
999  999  Giuseppe   Filippelli    Vendite       1853

[1000 rows x 5 columns]

filtriamo i dipendenti del reparto IT con stipendio maggiore di 5500

In [11]:
df_it = df[(df['Reparto'] == 'IT') & (df['Stipendio'] > 55000)]
print(df_it)

Empty DataFrame
Columns: [ID, Name, Surname, Reparto, Stipendio]
Index: []

avendo ottenuto un df_it vuoto verifico quanti dipendenti sono presenti nel reparto IT

In [9]:
it_reparto = df[df['Reparto'] == 'IT']
print(f"Numero di dipendenti nel reparto IT: {len(it_reparto)}")

Numero di dipendenti nel reparto IT: 187

verifico quanti dipendenti nel reparto IT hanno uno stipendio maggiore di 5500

In [10]:
it_stipendio = it_reparto[it_reparto['Stipendio'] > 55000]
print(f"Numero di dipendenti IT con stipendio maggiore di 55000: {len(it_stipendio)}")

Numero di dipendenti IT con stipendio maggiore di 55000: 0